img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 75%;
  width: 50%;
}
img:hover{
   opacity: 0.7;
}
h2{
    color:gold;
    text-align: center;
}
h2:hover{
    color: purple;
    text-decoration: none;
}
body{
    background-color: #e5e4e2;
}
.p1{
    text-align: center;
    text-decoration: bold;
}
.p2{
    text-align: center;
    color: blue;
}
.p2:hover{
    color:crimson;
}
.p3{
    padding-left: 230px;
}
.p4{
    padding-left: 470px;
}
.p5{ 
    padding-left: 530px;
}
.p5:hover{
    color: blue;
}
.t1{
    color: red;
    text-decoration: bold;
    font-size: 70px;
    text-align: center;
}